@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --blue: hsl(218, 22%, 67%);
    --gray: hsl(204, 43%, 93%);
    --yellow: hsl(71, 73%, 54%);
    --cyan: hsl(179, 62%, 43%);
    --cyan-lighter: hsl(179, 41%, 59%);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--gray);
    padding: 1.5rem;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.container .grid-item1 {
    border-radius: 10px;
    background-color: white;
    grid-column: span 2;
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5rem;
}

.grid-item2 {
    border-radius: 0 0 0 10px;
    background-color: var(--cyan);
}

.grid-item3 {
    border-radius: 0 0 10px 0;
    background-color: var(--cyan-lighter);
}

.grid-item1 h2 {
    color: var(--cyan);
    font-weight: 700;
}

.grid-item1 h3 {
    color: var(--yellow);
    font-weight: 700;
}

.grid-item1 p {
    color: var(--blue);
    font-weight: 400;
}

.grid-item2 > h3 {
    color: white;
    font-weight: 700;
}

.grid-item2 > p {
    color: white;
    font-weight: 400;
}

.grid-item2 > div > p {
    color: white;
    font-weight: 400;
}

.grid-item2 > div > p > span {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.grid-item2 > button {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--yellow);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 1rem;
    width: 100%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.grid-item2 > button:hover {
    background-color: white;
    color: var(--yellow);
    transition: 0.25s all ease-in-out;
    
}

.container .grid-item3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.grid-item3 > h3 {
    color: white;
    font-weight: 700;
}  

.grid-item3 div {
    height: min-content;
    width: 80%;
    margin-top: 2rem;
}

.grid-item3 div > p {
    color: white;
    font-weight: 400;
}

@media screen and (max-width: 750px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        max-width: 500px;
        min-height: 87vh;
    }
    
    .container .grid-item1 {
        grid-column: span 1;
    }

    .container > div {
        
        padding: 1.5rem;
    }

    .grid-item3 div {
        width: 65%;
        margin-top: 1.2rem;
    }

    .grid-item2 {
        border-radius: 0;
        background-color: var(--cyan);
    }
    
    .grid-item3 {
        border-radius: 0 0 10px 10px;
        background-color: var(--cyan-lighter);
    }
}

@media screen and (max-width: 550px) {
    body {
        font-size: 13px;
    }

    .grid-item2 > button {
        padding: 0.6rem 1rem;
    }
    
}